.main_control-section>.filter>.select {
    border-radius: .5vmin;
    border: solid black 1px;
    padding: 0 0.2em;
    background-color: #D7FFFA;
}
.main_control-section>.filter>.select>.selected {
    padding: 0.5em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main_control-section>.filter>.select>.selected>button {
    margin-right: 1vmin;
    transform: rotate(270deg);
    font-size: 1.2em;
    font-weight: 1000;
    color: #FF75E1;
}
.main_control-section>.filter>.select>.option {
    width: 100%;
    border-top: solid 1px black;
    padding: 0.4em 0;
    line-height: 1.8em;
    font-size: .9em;
    text-align: start;
}
.main_control-section>.filter>.select>.option>.icon, .main_control-section>.filter>.select>.selected>label>.icon {
    width: 100%;
    height: auto;
    margin: auto;
    display: none;
}
.main_control-section>.filter>.select>.option.selected {
    background-color: #FF75E1;
    background-clip: content-box;
}
@media screen and (max-width: 600px) {
    .main_control-section>.filter>.select {
        max-width: 2em;
        margin: 25% auto;
        padding: 0 2px;
    }
    .main_control-section>.filter>.select>.selected:not(.option) {
        margin-bottom: -1vmin;
        padding: 0;
        padding-top: 0.5em;
        flex-direction: column;
        align-items: stretch;
    }
    .main_control-section>.filter>.select>.option>.text, .main_control-section>.filter>.select>.selected>label>.text {
        display: none;
    }
    .main_control-section>.filter>.select>.option>.icon, .main_control-section>.filter>.select>.selected>label>.icon {
        display: block;
    }
}