.upload>.floating-label * {
    cursor: pointer;
}
.upload>.floating-label {
    margin-bottom: 4.2vh;
    display: flex;
    align-items: flex-end;
    position: relative;
}
.upload>.floating-label>.icon {
    width: 1.2em;
    height: auto;
    margin-bottom: .4em;
    fill: rgb(10, 10, 10);
}
.upload>.floating-label>.input {
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    height: 3.4em;
    margin-left: -1vmin;
    padding-left: .8em;
    border-bottom: solid 1px #5e5e5e;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}
.upload>.floating-label>.input>label {
    font-size: .8em;
    color: #606060;

}
@media screen and (max-width: 900px) {
    .upload>.floating-label>.icon {
        display: none;
    }
}
    
@media screen and (max-width: 600px) {
    .upload>.floating-label {
        margin-bottom: 3vh;
    }
    .upload>.floating-label>.icon {
        display: unset;
    }
}
@media screen and (max-width: 370px) {
    .upload>.floating-label>.icon {
        display: none;
    }
}
::-webkit-scrollbar {
    width: 1.4vmin;
    border-radius: .4vmin;
    background-color: #606060;
}
::-webkit-scrollbar-thumb {
    border-radius: .4vmin;
    border: solid .4vmin #606060;
    border-top: solid .6vmin #606060;
    background-color: #ff9fea;
}