.main_control-section>.upload>.actions {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
    bottom: 2vh;
}
.main_control-section>.upload>.actions>.upload, .main_control-section>.upload>.actions>.prev {
    width: 40%;
    border-radius: .3em;
    border: solid #b3b3b3 2px;
    padding: 1vmin 0;
    font-family: roboto;
    font-size: 1.2em;
    background-color: #D7FFFA;
}
.main_control-section>.upload>.actions>.upload {
    width: 56%;
}
@media screen and (max-width: 600px) {
    .main_control-section>.upload>.actions>.upload, .main_control-section>.upload>.actions>.prev {
        font-size: 1em;
    }
}