.main_control-section>.filter {
    box-sizing: border-box;
    width: 110%;
    height: 100%;
    border-radius: 2vmin;
    padding: 0 1vmin;
    position: absolute;
    z-index: 1;
    top: 0;
    left: -4%;
    background-image: linear-gradient(to left, rgba(0, 255, 30),transparent 50%),
        linear-gradient(to bottom, rgba(255, 0, 0) , transparent 50%),
        linear-gradient(to right, rgba(47, 0, 255) , transparent 50%),
        linear-gradient(to top, rgba(242, 255, 0) , transparent 50%);
    background-color: rgb(73, 255, 237);
    box-shadow: 0 0 0.5em black;
}
.main_control-section>.filter>* {
    position: relative;
}
.main_control-section>.filter>.background-filter {
    width: 100%;
    height: 100%;
    border-radius: 2vmin;
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    background-color: #ffffffad;
}
.main_control-section>.filter>.close {
    margin-left: auto;
    margin-bottom: 2vh;
    display: block;
    font-size: 1.6em;
}
.main_control-section>.filter>.searcher {
    margin-bottom: 3vh;
    border-bottom: solid 1px #5e5e5e;
    display: flex;
}
.main_control-section>.filter>.searcher>input {
    margin-left: 0.2em;
    font-size: 1.2em;
    font-family: roboto;
}
.main_control-section>.filter>.title {
    padding: 0.3em 0.2em;
    font-size: 1.4em;
    font-family: roboto;
    font-weight: 100;
}
.main_control-section>.filter>.label_input-radio {
    padding: 0.3em 0.2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main_control-section>.filter>.label_input-radio>label>.text {
    width: 100%;
}
.main_control-section>.filter>.label_input-radio>label>.icon {
    width: 50%;
    height: 50%;
    display: none;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.main_control-section>.filter>.label_input-radio>input[type=radio] {
    position: relative;
}
.main_control-section>.filter>.label_input-radio>input[type=radio]::after {
    content: '';
    width: 0.8em;
    height: 0.8em;
    border-radius: 50%;
    border: solid black 1px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #D7FFFA;
}
.main_control-section>.filter>.label_input-radio>input[type=radio]:checked::after {
    background-color: #FF75E1;
}
@media screen and (aspect-ratio: 1024/1366) {
    .main_control-section>.filter {
        width: 104%;
    }
}
@media screen and (min-aspect-ratio: 1280/800) {
    .main_control-section>.filter {
        width: 80%;
        left: 12%;
    }
}
@media screen and (min-aspect-ratio: 1024/633) {
    .main_control-section>.filter {
        width: 90%;
        left: 7%;
    }
}
@media screen and (min-aspect-ratio: 1100/633) {
    .main_control-section>.filter {
        width: 78%;
        left: 14%;
    }
}
@media screen and (max-width: 600px) {
    .main_control-section>.filter {
        box-sizing: border-box;
        width: 130%;
        height: 145%;
        padding: 0 2px;
        top: -4%;
        left: -30%;
    }
    .main_control-section>.filter>.close {
        line-height: 1em;
    }
    .main_control-section>.filter>.title {
        padding: 0;
        font-size: 1em;
    }
    .main_control-section>.filter>.title>.extra-text {
        display: none;
    }
    .main_control-section>.filter>.label_input-radio {
        justify-content: center;
    }
    .main_control-section>.filter>.label_input-radio>label>.text {
        display: none;
    }
    .main_control-section>.filter>.label_input-radio>label>.icon {
        display: block;
    }
    .main_control-section>.filter>.label_input-radio>input[type=radio], .main_control-section>.filter>.label_input-radio>input[type=radio]::after {
        width: 1.6em;
        height: 1.6em;
    }
}
@media screen and (max-width: 300px) {
    .main_control-section>.filter>.label_input-radio>input[type=radio], .main_control-section>.filter>.label_input-radio>input[type=radio]::after {
        width: 1.2em;
        height: 1.2em;
    }
}