.main_control-section {
    width: fit-content;
    height: 80%;
    margin-right: 3vw;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.main_control-section * {
    color: #001740;
}
.main_control-section > .left-bar {
    max-width: 1em;
    width: 2vmin;
    height: 80%;
    margin: 1vmin;
    position: absolute;
    right: 100%;
    bottom: -15%;
    background-color: #E4E4E4;
    box-shadow: 0 0 0.5em black;
}
.main_control-section > .top-half {
    width: 100%;
    height: 100%;
}
.main_control-section > .bottom-half {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
@media screen and (min-width: 1000px) {
    .main_control-section {
        width: 18%;
    }
}
@media screen and (max-width: 810px) {
    .main_control-section {
        width: 16vw;
    }
}
@media screen and (max-width: 600px) {
    .main_control-section {
        width: unset;
        height: 50%;
        top: 15%;
    }
    .main_control-section > .left-bar {
        height: 60%;
        left: 0;
        bottom: -110%;
        right: unset;
    }
}
@media screen and (min-aspect-ratio: 1024/633) {
    .main_control-section {
        height: 90%;
    }
}
@media screen and (min-aspect-ratio: 1100/633) {
    .main_control-section {
        height: 90%;
    }
}
@media screen and (min-aspect-ratio: 768/1024) and (orientation: portrait){
    .main_control-section {
        width: 24%;
    }
}
@media screen and (min-aspect-ratio: 1024/1366) and (orientation: portrait){
    .main_control-section {
        width: 26%;
        height: 60%;
    }
    .main_control-section > .left-bar {
        height: 100%;
        top: 50%;
    }
}