.main_footer-section {
    display: contents;
}
.main_footer-section > .bar {
    max-height: 1em;
    height: 2vmin;
    margin: 1vmin;
    position: absolute;
    background-color: #E4E4E4;
    box-shadow: 0 0 0.5em black;
}
.main_footer-section > .bar:first-child {
    width: 12vw;
    left: 0;
    bottom: 6%;
}
.main_footer-section > .bar:nth-child(2) {
    right: 2%;
    bottom: 15%;
}
.main_footer-section > .bar:nth-child(2).long {
    width: 25vw;
}
.main_footer-section > .bar:nth-child(2).short {
    width: 30vw;
}
.main_footer-section > .bar:nth-child(3) {
    max-height: 2em;
    height: 10vmin;
    width: 13vw;
    z-index: -1;
    right: -2%;
    bottom: 3%;
}
@media screen and (max-width: 1250px) {
    .main_footer-section > .bar:nth-child(3) {
        width: 15vw;
    }
}
@media screen and (max-width: 800px) {
    .main_footer-section > .bar:nth-child(3) {
        width: 18vw;
    }
}
@media screen and (max-width: 600px) {
    .main_footer-section > .bar:first-child {
        max-height: unset;
        width: 2vmin;
        height: 40vh;
        left: 8%;
        right: unset;
        bottom: -1%;
    }
    .main_footer-section > .bar:nth-child(2) {
        right: unset;
        left: -1%;
        bottom: 12%;
    }
    .main_footer-section > .bar:nth-child(3) {
        height: 2vmin;
        width: 25vw;
        z-index: 1;
        top: 16%;
        bottom: unset;
    }
}
@media screen and (min-aspect-ratio: 1024/633) {
    .main_footer-section > .bar:first-child {
        bottom: 2%;
    }
    .main_footer-section > .bar:nth-child(2) {
        bottom: 8%;
    }
    .main_footer-section > .bar:nth-child(3) {
        bottom: 1%;
    }
}
@media screen and (min-aspect-ratio: 1100/633) {
    .main_footer-section > .bar:first-child {
        bottom: 2%;
    }
    .main_footer-section > .bar:nth-child(2) {
        bottom: 8%;
    }
    .main_footer-section > .bar:nth-child(3) {
        bottom: 1%;
    }
}