.background-image-left, .background-image-right {
  width: 50vmax;
  height: auto;
  position: absolute;
  z-index: -1;
  filter: opacity(0.62);
}
.background-image-right {
  top: 10%;
  left: 50%;
  bottom: unset;
  right: unset;
}
.background-image-left {
  top: unset;
  left: unset;
  bottom: 0;
  right: 50%;
}
@media screen and (max-width: 800px) {
  .background-image-left, .background-image-right {
    width: auto;
    height: 60vmax;
  }
}
@media screen and (max-width: 500px) {
  .background-image-right {
    top: 45vmax;
    left: 25%;
    bottom: 0;
    right: unset;
  }
  .background-image-left {
    top: unset;
    left: unset;
    bottom: 55vmax;
    right: 60%;
  }  
}