.login_form-section {
    min-width: 30%;
    height: fit-content;
    padding: 4vmin;
    border-radius: .3em;
    position: relative;
    z-index: 1;
    background-image: linear-gradient(to left, rgba(0, 255, 30),transparent 50%),
        linear-gradient(to bottom, rgb(60 0 0) , transparent 50%),
        linear-gradient(to right, rgba(47, 0, 255) , transparent 50%),
        linear-gradient(to top, rgba(242, 255, 0) , transparent 50%);
    background-color: rgb(73, 255, 237);
}
.login_form-section>.filter {
    width: 100%;
    height: 100%;
    border-radius: .3em;
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    background-color: #ffffffad;
}
.login_form-section>* {
    position: relative;
    z-index: 1;
}
.login_form-section>.register {
    margin-bottom: 5vmin;
    margin-left: auto;
    display: block;
    text-decoration: underline;
}
.login_form-section>button {
    color: #000e2c;
}
.login_form-section>.signin {
    width: 80%;
    padding: 1.4vmin 0;
    margin: 0 auto;
    margin-top: 5vmin;
    border-radius: .3em;
    border: solid #b3b3b3 2px;
    display: block;
    font-family: roboto;
    font-size: 1.3em;
    background-color: #D7FFFA;
}
.login_form-section>.forgot-password {
    margin: 3vmin auto;
    display: block;
    text-decoration: underline;
}
.login_form-section>.emails {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 1vmin;
    margin-top: 5vmin;
    border-radius: .3em;
    border: solid #a3a3a3 1px;
    display: block;
}
.login_form-section>.emails>.gmail, .login_form-section>.emails>.outlook {
    padding: 1.4vmin 0;
    width: 50%;
}
.login_form-section>.emails>.outlook {
    border-left: solid #a3a3a3 1px;
}
.login_form-section>.emails>.gmail>img, .login_form-section>.emails>.outlook>img  {
    max-width: 35vmin;
    width: 30%;
    height: auto;
}
@media screen and (max-width: 600px) {
    .login_form-section {
        margin: 0 5vmin;
    }
}
@media screen and (max-width: 400px) {
    .login_form-section>.emails>.gmail, .login_form-section>.emails>.outlook {
        width: 50%;
    }
}